In [1]:
pip install pyupbit

Requirement already satisfied: pyupbit in /usr/local/anaconda3/lib/python3.9/site-packages (0.2.22)
Requirement already satisfied: pyjwt>=2.0.0 in /usr/local/anaconda3/lib/python3.9/site-packages (from pyupbit) (2.1.0)
Requirement already satisfied: websockets==9.1 in /usr/local/anaconda3/lib/python3.9/site-packages (from pyupbit) (9.1)
Requirement already satisfied: requests in /usr/local/anaconda3/lib/python3.9/site-packages (from pyupbit) (2.26.0)
Requirement already satisfied: pandas in /usr/local/anaconda3/lib/python3.9/site-packages (from pyupbit) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas->pyupbit) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas->pyupbit) (1.20.3)
Requirement already satisfied: six>=1.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->pyupbit) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from requests->pyupbit) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/anaconda3/lib/python3.9/site-packages (from requests->pyupbit) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/anaconda3/lib/python3.9/site-packages (from requests->pyupbit) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/anaconda3/lib/python3.9/site-packages (from requests->pyupbit) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pyupbit
import time
import datetime
from pyupbit import get_current_price, get_ohlcv, get_daily_ohlcv_from_base
import pandas as pd

In [24]:
def getBTCCurrentPrice():
    while True: 
        now = datetime.datetime.now()
        price = pyupbit.get_current_price("KRW-BTC")
        print(now, price)
        time.sleep(1)

In [59]:
def get_ohlcv_base(ticker="KRW-BTC", base=0, days=200):
    df = get_ohlcv(ticker, interval="minute60", count = days*24)
    df = df.resample('24H', base=base).agg({'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 'volume': 'sum'})

    return df

In [3]:
def get_expect_rate(df ,k):
    df['diff'] = df['high'] - df['low']
    df['target'] = df['diff'].shift(1) * k + df['open'] 
    df['bought'] = df['high'] > df['target']

    cond = df['high'] > df['target']
    df['rate'] = df.loc[cond, 'close'] / df.loc[cond, 'target']

    df.fillna(1, inplace=True)

    result = 1 
    for i in range(n):
        result = result * df['rate'][i]

    return result

In [4]:
def get_profits(ticker, n, profit_base):

    df = get_ohlcv(ticker, count=n)

    for k in kArr: 
        profit = get_expect_rate(df, k)
        if (profit > profit_base):
            print(ticker, k, "profit:", profit)

In [5]:
kArr = [0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.95,1]
n = 180 # day count
profit_base = 1.4
tickers = pyupbit.get_tickers(fiat="KRW")

for ticker in tickers:
    print(ticker, 'in progressing')
    get_profits(ticker, n, profit_base)
    time.sleep(1)

KRW-BTC in progressing
KRW-ETH in progressing
KRW-ETH 0.25 profit: 1.4270716155468692
KRW-ETH 0.3 profit: 1.4207618950526637
KRW-NEO in progressing

KeyboardInterrupt:

In [49]:
df = get_ohlcv_base(ticker="KRW-BTC", base=10, days=199)
df

/var/folders/hp/zrt87wwj7rd6p935gh9d5lfr0000gn/T/ipykernel_8467/3187885468.py:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=10).agg({'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 'volume': 'sum'})

,open,high,low,close,volume
2021-07-15 10:00:00,38290000.0,38350000.0,37088000.0,37361000.0,4548.828923
2021-07-16 10:00:00,37361000.0,38053000.0,36750000.0,37337000.0,5753.006740
2021-07-17 10:00:00,37350000.0,37800000.0,36846000.0,37621000.0,3481.695703
2021-07-18 10:00:00,37621000.0,38172000.0,37000000.0,37462000.0,3531.496216
2021-07-19 10:00:00,37435000.0,37670000.0,36500000.0,36619000.0,4224.764035
...,...,...,...,...,...
2022-01-26 10:00:00,44669000.0,47460000.0,44521000.0,45478000.0,10112.200547
2022-01-27 10:00:00,45470000.0,46100000.0,43786000.0,45709000.0,7561.434137
2022-01-28 10:00:00,45709000.0,46951000.0,45060000.0,46779000.0,5438.916282
2022-01-29 10:00:00,46779000.0,47746000.0,46180000.0,46896000.0,3985.916614
2022-01-30 10:00:00,46896000.0,47440000.0,46849000.0,47115000.0,1388.256989

In [50]:
get_expect_rate(df, 0.5)

1.2511638117078159

In [52]:
df1 = get_ohlcv()
df1

,open,high,low,close,volume,value
2021-07-15 09:00:00,38590000.0,39045000.0,37088000.0,37606000.0,7363.607081,2.803988e+11
2021-07-16 09:00:00,37606000.0,38053000.0,36750000.0,37199000.0,5695.873913,2.131135e+11
2021-07-17 09:00:00,37199000.0,37800000.0,36824000.0,37205000.0,3533.685160,1.316127e+11
2021-07-18 09:00:00,37205000.0,38172000.0,37000000.0,37663000.0,3688.509141,1.384656e+11
2021-07-19 09:00:00,37663000.0,37704000.0,36500000.0,36799000.0,4208.487957,1.558620e+11
...,...,...,...,...,...,...
2022-01-26 09:00:00,44905000.0,47460000.0,44520000.0,45100000.0,10144.394427,4.655031e+11
2022-01-27 09:00:00,45100000.0,45844000.0,43786000.0,45809000.0,7488.144801,3.350130e+11
2022-01-28 09:00:00,45800000.0,46890000.0,45060000.0,46588000.0,5565.154275,2.547627e+11
2022-01-29 09:00:00,46592000.0,47746000.0,46180000.0,47146000.0,3980.167762,1.862863e+11
2022-01-30 09:00:00,47144000.0,47440000.0,46730000.0,47111000.0,1674.784615,7.893407e+10

In [54]:
get_expect_rate(df1, 0.5)

1.0784961669112554

In [60]:
df2 = get_ohlcv_base(ticker="KRW-BTC", base=11, days=199)
df2

/var/folders/hp/zrt87wwj7rd6p935gh9d5lfr0000gn/T/ipykernel_8467/3510957803.py:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=base).agg({'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 'volume': 'sum'})

,open,high,low,close,volume
2021-07-15 11:00:00,38290000.0,38350000.0,37088000.0,37647000.0,4779.606302
2021-07-16 11:00:00,37647000.0,38053000.0,36750000.0,37125000.0,5809.614256
2021-07-17 11:00:00,37125000.0,38172000.0,36862000.0,37951000.0,3773.305265
2021-07-18 11:00:00,37952000.0,38011000.0,37000000.0,37425000.0,3082.555548
2021-07-19 11:00:00,37426000.0,37670000.0,36332000.0,36402000.0,4529.474894
...,...,...,...,...,...
2022-01-26 11:00:00,44997000.0,47460000.0,44025000.0,44069000.0,10410.816641
2022-01-27 11:00:00,44068000.0,46100000.0,43786000.0,45564000.0,7404.689888
2022-01-28 11:00:00,45566000.0,46951000.0,45060000.0,46461000.0,5325.244938
2022-01-29 11:00:00,46461000.0,47746000.0,46180000.0,47030000.0,3858.329668
2022-01-30 11:00:00,47045000.0,47440000.0,46998000.0,47104000.0,1276.907003

In [61]:
get_expect_rate(df2, 0.5)

1.4020573114836372

In [66]:
def base_profit(ticker="KRW-BTC", base=10, days=199):
    df = get_ohlcv_base(ticker=ticker, base=base, days=days)
    rate = get_expect_rate(df, 0.5)
    return rate

In [71]:
btc = get_ohlcv(ticker="KRW-BTC", count=200)
BTC_profit_09 = get_expect_rate(btc, 0.5)
BTC_profit_10 = base_profit(base=10)
BTC_profit_11 = base_profit(base=11)

print('btc 09', BTC_profit_09)
print('btc 10', BTC_profit_10)
print('btc 11', BTC_profit_11)

/var/folders/hp/zrt87wwj7rd6p935gh9d5lfr0000gn/T/ipykernel_8467/3510957803.py:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=base).agg({'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 'volume': 'sum'})

btc 09 1.0784961669112554
btc 10 1.2511638117078159
btc 11 1.4020573114836372

In [72]:
eth = get_ohlcv(ticker="KRW-ETH", count=200)
ETH_profit_09 = get_expect_rate(btc, 0.5)
ETH_profit_10 = base_profit(ticker="KRW-ETH", base=10)
ETH_profit_11 = base_profit(ticker="KRW-ETH", base=11)

print('eth 09', ETH_profit_09)
print('eth 10', ETH_profit_10)
print('eth 11', ETH_profit_11)

/var/folders/hp/zrt87wwj7rd6p935gh9d5lfr0000gn/T/ipykernel_8467/3510957803.py:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  df = df.resample('24H', base=base).agg({'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 'volume': 'sum'})

eth 10 1.2945451533016803
eth 11 1.3171875735954433